{{!-- todo: Agregar comentarios como los del file explorer que expliquen que esto es un partial y en qué consiste y qué usa --}}

<div class="tree-node {{#if isCurrent}}current{{/if}}" data-node-id="{{id}}" data-node-type="{{nodeType}}">

	{{!-- Node Icon --}}
	{{#if isCompendium}}
		{{!-- Compendium --}}
		<i class="fa-solid fa-book-atlas"></i>
	{{else if color}}
		{{!-- Folder with defined color --}}
		<i class="fa-solid fa-folder-open" style="color: {{color}}"></i>
	{{else}}
		{{!-- Folder without defined color --}}
		<i class="fa-light fa-folder-open"></i>
	{{/if}}

	{{!-- Node Name --}}
	<span class="tree-node-name" data-tooltip="{{name}}">{{name}}</span>

</div>

{{#if children.length}}
	<div class="tree-children">
		{{#each children}}
			{{> pk5e-tree-node this}}
		{{/each}}
	</div>
{{/if}}